
// Only for lottie bg
.full-bg {
    height: 100vh;
    width: 100vw;

    svg {
        height: auto !important;
        width: auto !important;
    }
}

// Custom inputs
.cursorPointer {
    cursor: pointer;
}

.notSelection {
    &::selection {
        background-color: transparent;
    }
}